body
    .deck-container
        //
           Begin slides
        section#hello.slide
            h1 Hello Udemy from Another Presentation
        section#how-are-you.slide
            h2 How are you doing today?
        section#hope-everything-is-fine.slide
            h2 Hope everything is fine
            p
                | I am glad you asked how I am...
                | I appreciate that!
        section#another-client.slide
            h2 So these sliders are mainly driven by web socket from another client.
            p
                | Cool, isn't it?

        section#how-other-client-looks-like.slide
            h2 This is how the other remote client looks like
            p Customizes the colors, typography, and layout of slide content.
            img(src='http://content.screencast.com/users/cmertayak/folders/Jing/media/b75d08eb-5798-44b9-a30f-b57eb5e1f020/00000276.png', alt='Remote client')

        section#try-mobile.slide
            h2 Let's try from mobile browser!
        section#mobile-works.slide
            h2 Mobile web client works! Nice..

        section#continue-baby.slide
            h2 Continue from the other slide. Byeee!
            img(src='http://memegenerator.files.wordpress.com/2014/09/skeptical-african-kid-2.jpg?w=300&h=300', alt='Remote client')
